<div class="footer">
   	 <div class="container">
   	 	
   		<div class="cssmenu">
		   <ul>
			<li class="active"><a href="#">Privacy</a></li>
			<li><a href="#">Terms</a></li>
			<li><a href="#">About</a></li>
			<li><%= link_to 'Contact Us' , contactus_path%></li>
			
		  </ul>
		</div>
		<ul class="social">
			<li><a href="http://www.instagram.com"> <i class="instagram"> </i> </a></li>
			<li><a href="http://www.facebook.com"><i class="fb"> </i> </a></li>
			<li><a href="http://www.twitter.com"><i class="tw"> </i> </a></li>
	    </ul>
	    <div class="clearfix"></div>
	    <div class="copy">
           <p> &copy; 2016 PNEC. All Rights Reserved | Design by <a href="http://w3layouts.com/" target="_blank">W3layouts</a></p>
	    </div>
   	</div>
   </div>
